* {                             /* alle elementer */
    margin: 0;                  /* nulstiller browser-defaults - fx h1 og p har ellers margin */
    padding: 0;                 /* nulstiller browser-defaults */
    box-sizing: border-box;     /* ændrer box-modellen, så width inkluderer padding og border --> gør layout forudsigelige. Konsekvens = man skal selv definere al spacing
                                men gør jeg også*/
}

body{
    background:#F5EFE6;
    color:#000000;
    line-height: 1.6;
}

p{
    font-family:'Manrope', sans-serif;
    font-size:20px;
    font-weight: 400;
}

img{
    width:100%;
    display:block;
}

h1{
    font-family:'DM Serif Display', serif;
    font-size: 64px;
    font-weight:550;
}

h2,
h3{
    font-family:'DM Serif Display', serif;
    font-weight: 500;
}









/* HEADER */

.header {
    background-color: #AFC3A2;
    height: 110px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
}

/* LOGO */

.logo img {
    height: 70px;
    width: auto;
    display: block;
}

/* NAVIGATION */

.nav-links {
    display: flex;
    gap: 50px;

    list-style: none;
    margin: 0;
    padding: 0;
}

/* LINKS */

.nav-links a {
    position: relative;

    text-decoration: none;
    color: #000;

    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    font-weight: 350;

    transition: color 0.3s ease;
}

/* HOVER */

.nav-links a:hover {
    color: #C9895B;
}

/* AKTIV SIDE */

.nav-links a.active {
    color: #C9895B;
}

/* STREG UNDER AKTIV SIDE */

.nav-links a.active::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -8px;

    width: 100%;
    height: 3px;

    background-color: #C9895B;
    border-radius: 999px;
}

/* BURGER */

#menu-toggle {
    display: none;
}

.burger {
    display: none;
}








/* Index */

/* HERO VIDEO */

.hero-video {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: visible;
}

/* VIDEO */

.hero-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* MØRKT OVERLAY */

.hero-video::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.30);
    z-index: 1;
}

/* TERRACOTTA STREG I BUNDEN */

.hero-video::after {            /* Opretter et usynligt element efter indholdet i .hero-video */
    content: "";                /* Pseudo-elementer virker kun hvis de har content. Her er indholdet tomt (""),
                                fordi vi bare vil bruge elementet som en farvet bjælke. */
    position: absolute;         /* Gør at elementet kan placeres præcist inde i .hero-video. Det virker fordi man har:
                                .hero-video {position: relative;}
                                Så bliver .hero-video referencepunktet */
    left: 0;                    /* Starter helt ude ved venstre kant */
    bottom: 0;                  /* Placerer elementet helt nede i bunden af .hero-video */

    width: 100%;
    height: 12px;

    background-color: #C9895B;
    z-index: 3;
}

/* TEKST PÅ VIDEO */

.hero-text {
    position: absolute;
    top: 45%;               /* Hvor langt fra toppen. 50% ville være midt på videoen */
    left: 50%;              /* Så den er centreret midt på skærmen */
    transform: translate(-50%, -50%);

    text-align: center;
    color: white;
    z-index: 2;

    max-width: 1200px;
   width: 90%;
}

.hero-text h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 4rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
    line-height: 1.4;
}

/* CTA KNAPPER */

.hero-cta {
    position: absolute;
    bottom: -35px;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    gap: 80px;

    z-index: 10;
}

.cta-btn {
    background-color: #C9895B;
    color: black;

    text-decoration: none;

    padding: 15px 60px;

    border-radius: 50px;

    font-family: 'Manrope', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

.cta-btn:hover {
    background-color: #B8794D;
    transform: translateY(-3px);
}







/* MERE END BARE MINIGOLF */

.index-section1 h1{
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 110px;
}

.index-section1 p{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
}












/* INDEX FEATURED EVENT */

.index-featured-event {
    background-color: #BDCCB0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 80px;

    padding: 80px 100px;

    margin-top: 200px;
}

/* VENSTRE SIDE */

.index-event-content {
    flex: 1;
    max-width: 550px;
}

.index-event-content h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 64px;
    margin-bottom: 20px;
    font-weight: 500;
}

.index-event-content h3 {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 510;
}

.index-event-content p {
    font-family: 'Manrope', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 40px;
}

/* INFO LISTE */

.index-event-info {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
}

.index-event-info li {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
}

/* KNAPPER */

.index-event-buttons {
    display: flex;
    gap: 30px;
}

.btn-primary {
    display: inline-block;

    padding: 16px 32px;

    background-color: #C9895B;
    color: black;

    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;

    border-radius: 999px;

    transition: transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #B8794D;
    transform: translateY(-3px);
}

/* HØJRE SIDE */

.index-event-image {
    flex: 1;
}

.index-event-image img {
    width: 100%;

    border-radius: 20px;

    display: block;
}












/* SECTION 2 - INFO OM DEM */

.owners-section {
    padding: 200px 100px;
    background-color: #F5EFE6;
}

.owners-section h1 {
    font-size: 5rem;
    margin-bottom: 30px;
    line-height: 1.1;
}

.owners-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

/* VENSTRE SIDE */

.owners-content {
    flex: 1;
    max-width: 600px;
}

.owners-content p {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

/* KNAPPER */

.owners-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.btn-primary {
    display: inline-block;
    width: fit-content;

    padding: 18px 40px;

    background-color: #C9895B;
    color: #000;

    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;

    border-radius: 999px;

    transition: all 0.3s ease;
}

.btn-primary:hover {
    transform: translateY(-3px);
}

/* HØJRE SIDE */

.owners-images {
    display: flex;
    gap: 0;
    flex-shrink: 0;
}

.owners-images img {
    width: 330px;
    height: 520px;

    object-fit: cover;
    display: block;
}





















/* HERO - SEKTION cecilie - har rykket den herned så index er først*/

.hero{

    height:90vh;

    background-image:url('arrangementer-billeder/arrangementerheropic.png');
    background-size:cover;
    background-position:center;

    position:relative;

    display:flex;
    align-items:center;

    padding:0 80px;
}

.overlay{

    position:absolute;
    inset:0;

    background:rgba(0,0,0,0.35);
}

.hero-content{

    position:relative;
    z-index:2;

    max-width:700px;

    color:white;
}

.eyebrow{

    font-size:12px;
    letter-spacing:2px;

    margin-bottom:18px;
}

.hero h1{

    font-size:80px;

    line-height:1.20;

    margin-bottom:28px;
}

.hero p{

    max-width:480px;

    margin-bottom:36px;
}


/* BUTTONS */

.primary-btn,
.secondary-btn,
.third-btn,
.fourth-btn{

    display:inline-block;

    padding:15px 30px;

    border-radius:999px;

    text-decoration:none;

    transition:0.3s ease;

    font-size:14px;
}

.primary-btn{

    background: #AFC3A2;
    color:black;
}

.secondary-btn{

    border:1px solid #1F1F1B;
    color:#1F1F1B;
}

.third-btn{
    background: #C9895B;
    color:black;
}

.fourth-btn{
    background: #C9895B;
    color:black;
}



/* INTRO TEKST - SEKTION */

.intro{

    padding:140px 20px;
}

.intro-container{

    max-width:900px;

    margin:auto;

    text-align:center;
}

.intro p{

    margin-bottom:24px;

    font-size:18px;
}


/*FREMHÆVET EVENT SUNSET NIGHT - SEKTION */

.featured-event{

    background:#AFC3A2;

    margin:0 40px;

    padding:70px;

    border-radius:32px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:60px;

    align-items:center;
}



.badge{

    display:inline-block;

    background:white;

    padding:10px 18px;

    border-radius:999px;

    font-size:12px;

    margin-bottom:24px;
}



.featured-text h2{

    font-size:70px;

    margin-bottom:24px;
}



.event-info{

    margin:36px 0;
}



.info-item{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:16px;
}



.featured-image img{

    width:100%;

    height:520px;

    object-fit:cover;

    border-radius:28px;
}

.events{

    padding:160px 40px;
}



/* OVERSKRIFT */

.section-title{

    text-align:center;

    margin-bottom:80px;
}



.small-title{

    font-size:12px;

    letter-spacing:2px;

    margin-bottom:16px;
}



.section-title h2{

    font-size:76px;

    line-height:0.95;
}



/* GRID */

.event-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:24px;
}



/* CARDS */

.event-card{

    background:white;

    border-radius:28px;

    overflow:hidden;
}



/* BILLEDER */

.event-card img{

    width:100%;

    height:240px;

    object-fit:cover;
}



/* INDHOLD */

.card-content{

    padding:24px;
}



/* BADGES */

.event-badge{

    display:inline-block;

    padding:7px 14px;

    background:#E7E8DA;

    border-radius:6px;

    font-size:11px;

    letter-spacing:1px;

    margin-bottom:18px;

    color:#6E735F;
}



/* TITLER */

.card-content h3{

    font-size:28px;

    line-height:1.1;

    margin:16px 0;
}



/* TEKST */

.card-content p{

    font-size:15px;

    line-height:1.6;

    margin-bottom:18px;
}



/* INFO */

.event-meta{

    margin-bottom:22px;
}



.event-meta p{

    font-size:14px;

    margin-bottom:8px;

    color:#4F4F4F;
}



.event-meta i{

    margin-right:8px;
}



/* KNAP */

.card-content a{

    display:inline-block;

    padding:10px 18px;

    border:1px solid #d3cdc3;

    border-radius:999px;

    text-decoration:none;

    color:#4a4a4a;

    font-size:13px;
}


/*LILLE GALLERI MED 3 BILLEDER*/

.gallery{

    padding:120px 40px;
}

.gallery-top img{

    width:100%;

    height:500px;

    object-fit:cover;

    border-radius:28px;
}

.gallery-bottom{

    display:grid;

    grid-template-columns:0.8fr 1.2fr;

    gap:24px;

    margin-top:24px;
}

.gallery-bottom img{

    width:100%;

    height:320px;

    object-fit:cover;

    border-radius:28px;
}

/* CTA */

.cta-section{

    padding:140px 40px;
}

.cta-content{

    background:#EFE8DD;

    border-radius:32px;

    padding:80px;
}

.cta-content h2{

    font-size:76px;

    line-height:0.95;

    margin-bottom:24px;
}

.cta-buttons{

    display:flex;

    gap:18px;

    margin-top:36px;
}


/* RESPONSIVE */

@media(max-width:1100px){

    .event-grid{

        grid-template-columns:repeat(2,1fr);
    }

    .featured-event{

        grid-template-columns:1fr;
    }

    .hero h1,
    .section-title h2,
    .cta-content h2{

        font-size:60px;
    }

}

@media(max-width:700px){

    .hero{

        padding:0 30px;
    }

    .hero h1,
    .section-title h2,
    .cta-content h2,
    .featured-text h2{

        font-size:44px;
    }

    .event-grid{

        grid-template-columns:1fr;
    }

    .featured-event,
    .cta-content{

        padding:40px 30px;
    }

}